@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.875rem;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #909090;
    border-radius: 100vh;
    border: 0.2rem solid #f0f0f0;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #707070;
  }
}
